{
  "parserOptions": {
    "parser": "babel-eslint",
	  "ecmaVersion": 6
  },
  "plugins": [
    "standard", "promise", "html", "babel"
  ],
  "extends": ["plugin:vue/essential", "@vue/standard"],
  "env": {
    "browser": true,
    "jquery": false
  },
  "globals": {
    "chrome": true,
	"browser": true,
    "nw": true
  },
  "rules": {
    "key-spacing": ["error", {
      "align": {
        "beforeColon": false,
        "afterColon": true,
        "on": "value"
      },
      "multiLine": {
        "beforeColon": false,
        "afterColon": true
      }
    }],
    "brace-style": ["warn", "1tbs", {
      "allowSingleLine": false
    }],
    "camelcase": ["error", {
      "properties": "always"
    }],
    "comma-style": ["warn", "last"],
    "consistent-return": ["off"],
    "default-case": ["error"],
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "MemberExpression": 1,
      "VariableDeclarator": {
        "var": 2,
        "let": 2,
        "const": 3
      },
      "FunctionDeclaration": {
        "body": 1,
        "parameters": "first"
      },
      "FunctionExpression": {
        "body": 1,
        "parameters": "first"
      },
      "CallExpression": {
        "arguments": "first"
      },
      "ArrayExpression": "first",
      "ObjectExpression": 1
    }],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true,
      "overrides": {
        "if": {
          "after": false
        },
        "for": {
          "after": false
        },
        "while": {
          "after": false
        },
        "catch": {
          "after": false
        }
      }
    }],
    "no-multi-spaces": "off",
    "no-shadow": ["warn"],
    "no-unused-vars": ["warn"],
    "no-unused-expressions": "off",
    "no-use-before-define": ["error", {
      "functions": true, 
      "classes": true,
      "variables": true
    }],
    "one-var": ["error", "always"],
    "one-var-declaration-per-line": ["error", "always"],
    "quote-props": ["warn", "as-needed"],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "vars-on-top": "error",

    "promise/param-names": "warn",
    "promise/always-return": "warn",
    "promise/catch-or-return": "warn"
  }
}

