# registry=http://rb-repobci.de.bosch.com:8081/repository/npm-group/
# @bci:registry=https://repo.bosch-si.com/content/groups/inst-inl-npm/
registry=https://rb-artifactory.bosch.com/artifactory/api/npm/bci-npm-virtual/
init.author.name = Axel Meinhardt
init.author.email = axel.meinhardt@bosch-si.com
email = axel.meinhardt@bosch-si.com
always-auth=true
_auth = bWVhMXNncDpBUEF0M0FHRGVaRG04M2oyajRkc2d5Yzlqd3E=